/* styles.css */
.card {
  display: flex;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  flexDirection: row
}

.card-image {
  flex: 1;
  max-width: 50%;
}

.card-image img {
  width: 100%;
  height: auto;
}

.card-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-content h2 {
  font-size: 24px;
  margin: 0;
}

.card-content p {
  font-size: 16px;
  color: #666;
}
